# Local temporary directories
.temp/

# Supabase specific temporary directories
supabase/.temp/

# Deno related files
supabase/functions/jotform-family/deno.lock
supabase/functions/jotform-family/deno.json

# NPM related files
supabase/functions/jotform-family/.npmrc

# Deno related files for jotform-providers
supabase/functions/jotform-providers/deno.lock
supabase/functions/jotform-providers/deno.json

# NPM related files for jotform-providers
supabase/functions/jotform-providers/.npmrc

# Common build artifacts and dependencies
node_modules/
dist/

# For testing
dump.json
family_dump.json
provider_dump.json
